<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="LogNotificationMsgs" value="true"/>
    <add key="PingTiemrIntervals" value="60000"/>
     <add key="NotificaionKeyField" value="EventIFANotificationID"/>
    <add key="feedProcessorConfigPath" value="E:\NotificationProvider\EFG.NotificationProvider\ProviderStartup\Config\MessageProcessorConfigurations.xml"/>
 </appSettings>
  
  
  
  
  <system.serviceModel>
    <services>
      <service name="FeedServiceWCF.FeedService" behaviorConfiguration="feedServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9880/FeedService.svc" />
          </baseAddresses>
        </host>
        <endpoint bindingConfiguration="netTcpBindingConf" binding="netTcpBinding" contract="Contract.IDataFeed"></endpoint>
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="netTcpBindingConf" closeTimeout="00:010:00" portSharingEnabled="false" openTimeout="00:010:00" receiveTimeout="00:30:10" sendTimeout="23:59:59" transactionFlow="false" transferMode="Buffered" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="10" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <reliableSession ordered="false" inactivityTimeout="10:00:00" enabled="false" />
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None" />
          </security>
        </binding>
        <binding name="mexTcpBindingConf" portSharingEnabled="false">
          <security mode="None">
            <transport protectionLevel="None" />
          </security>
        </binding>
        <binding name="NetTCPBindingConfigurationNotificationEngine"
                closeTimeout="00:01:30" openTimeout="00:01:30" receiveTimeout="00:01:30" sendTimeout="00:01:30"
                transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard"
                maxBufferPoolSize="536870912" maxBufferSize="2147483647" maxConnections="200" listenBacklog="200" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647"
                        maxNameTableCharCount="2147483647"/>
          <reliableSession ordered="true" inactivityTimeout="10:00:00" enabled="false"/>
          <security mode="None"/>
        </binding>
      
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="feedServiceBehavior">
          <serviceMetadata />
          <useRequestHeadersForMetadataAddress />
          <serviceThrottling maxConcurrentCalls="1000" maxConcurrentInstances="1000" maxConcurrentSessions="1000" />
          <!--<serviceMetadata httpGetEnabled="false" httpGetUrl=""/>-->
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <client>
      <endpoint address="net.tcp://localhost:9022/NotificationEngineService/SubscribeNotification"
                binding="netTcpBinding"
                bindingConfiguration="NetTCPBindingConfigurationNotificationEngine"
                contract="EFG.OPS.NotificationEngineService.Contracts.Interfaces.ISubscribeNotification"
                name="ISubscribeNotificationEndPoint"/>
    </client>
  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>