<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="false">
  <!--internalLogFile="${logDirectory}/nLog.txt"
      internalLogToConsole="false"-->


  <!--<variable name="logDirectory" value="${basedir}/logs/${shortdate}"/>
  <variable name="componentName" value="MDF"/>
  <variable name="marketName" value="DFM"/>-->

  <targets async="true">
    <default-target-parameters xsi:type="File" keepFileOpen="false"/>



    <target name="ColoredConsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false"
      layout="${message}" >
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Black" backgroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
    </target>

    <target name="SubscriptionInfo" xsi:type="File"
            fileName="logDirectory\SubscriptionInfoLOG\SubscriptionInfo_${shortdate}.txt"
            autoFlush="true"
            keepFileOpen="false"
            layout="${longdate} | ${message} "/>

    <target name="Notificaions" xsi:type="File"
           fileName="logDirectory\ReceivedNotificaionsLOG\Notificaions_${shortdate}.txt"
           autoFlush="true"
           keepFileOpen="false"
           layout="${longdate} | ${message} "/>


    <target name="ApplicaionLog" xsi:type="File"
            fileName="logDirectory\AppLog_${shortdate}.txt"
            autoFlush="true"
            keepFileOpen="false"
            layout="${longdate} | ${level} | ${callsite} | ${message} | ${exception:format=tostring}"/>

    

    <target name="OutgoingMessages" xsi:type="File"
           fileName="logDirectory\OutgoingMessagesLOG\${shortdate}_OutgoingMessages.txt"
           autoFlush="true"
           keepFileOpen="false"
           layout="${longdate} | ${message} "/>

  </targets>


  <rules>
    <!--<logger name="ConsoleLogger" minlevel="Trace" maxlevel="Fatal" writeTo="ColoredConsole,"/>-->
    <logger name="AppLogger" minlevel="Trace" maxlevel="Fatal" writeTo="ColoredConsole,ApplicaionLog"/>
    <logger name="SubscriptionInfoLogger"    minlevel="Trace" maxlevel="Fatal" writeTo="SubscriptionInfo"/>
    <logger name="NotificaionsLogger"    minlevel="Trace" maxlevel="Fatal" writeTo="Notificaions"/>
    
    
    <logger name="OutgoingMessagesLogger"    minlevel="Trace" maxlevel="Fatal" writeTo="OutgoingMessages"/>

  </rules>

</nlog>
