<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <!-- Lightstreamer ServerIP -->
    <add key="LsServerIP" value="localhost" />
    <!-- LightSteramer Port -->
    <add key="LsRequestPort" value="7777" />

    <add key="LsNotifyPort" value="7778" />
    <!-- AdapterSet name in adapters.xml file --><!--
    <add key="LsAdapterName" value="" />-->

    <add key ="PingTiemrIntervals" value="4000"/>
    <!--Notificaion Provider Login-->
    <add key="UserName" value="lsProvider1" />
    <add key="Password" value="feed#89ls" />
    <add key="EnableLogger" value="true" />

  </appSettings>

  <system.serviceModel>
    <client>
      <endpoint name="netTcpBinding_Ifeed" address="net.tcp://localhost:9880/FeedService.svc" binding="netTcpBinding" bindingConfiguration="netTcpBinding"
                contract="Contract.IDataFeed">
      </endpoint>
    </client>
    <bindings>
      <netTcpBinding>
        <binding name="netTcpBinding" closeTimeout="00:010:00" openTimeout="00:010:00" receiveTimeout="00:10:00" sendTimeout="00:010:00" transactionFlow="false" transferMode="Buffered" hostNameComparisonMode="StrongWildcard" listenBacklog="100" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="10" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="None">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </netTcpBinding>

    </bindings>
     </system.serviceModel>


  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>