<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="ErrorHandlersConfig" type="EFG.Common.Utilities.ServiceModel.Faults.ErrorHandlersConfig, EFG.Common.Utilities"/>
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings,
               Microsoft.Practices.EnterpriseLibrary.Caching,
               Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
  </configSections>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging" switchValue="Warning, ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type=""/>
          </add>
          <add name="ServiceModelMessageLoggingListener">
            <filter type=""/>
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add type="EFG.Common.Utilities.Diagnostics.Trace.DatabaseTraceListener, EFG.Common.Utilities, Version=1.0.0.0, Culture=neutral, PublicKeyToken=f6700cec8ec2fc5b" name="ServiceModelMessageLoggingListener" traceOutputOptions="DateTime, Timestamp, ProcessId, ThreadId" TraceRequestsOnly="false" TraceConnectionString="Data Source=efg-dbstg01;Initial Catalog=TraceStore;Integrated Security=True;">
        <filter type=""/>
      </add>
    </sharedListeners>
    <trace autoflush="true"/>
  </system.diagnostics>
  <ErrorHandlersConfig>
    <ErrorHandlerCollection>
      <Handler Type="EFG.Common.Utilities.ServiceModel.Faults.EventLogErrorHandler, EFG.Common.Utilities"/>
    </ErrorHandlerCollection>
  </ErrorHandlersConfig>
  <appSettings>
    <add key="MailFrom" value="aalamir@efg-hermes.com"/>
    <add key="MailTo" value="aalamir@efg-hermes.com"/>
    <add key="MailCC" value="aalamir@efg-hermes.com"/>
  </appSettings>
  <connectionStrings>
    <add name="EventsDB" connectionString="Data Source=efg-dbstg07;Initial Catalog=QA-EGY3;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <cachingConfiguration defaultCacheManager="Default Cache Manager">
    <backingStores>
      <add name="inMemory" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching"/>
    </backingStores>
    <cacheManagers>
      <add name="Default Cache Manager" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="inMemory"/>
    </cacheManagers>
  </cachingConfiguration>
  <configProtectedData defaultProvider="SampleProvider">
    <providers>
      <add name="SampleProvider" type="System.Configuration.RsaProtectedConfigurationProvider, 
              System.Configuration, Version=2.0.0.0, Culture=neutral, 
              PublicKeyToken=b03f5f7f11d50a3a,
             processorArchitecture=MSIL" keyContainerName="CashKeys" useMachineContainer="true"/>
    </providers>
  </configProtectedData>
  <system.net>
    <mailSettings>
      <smtp from="aalamir@efg-hermes.com" deliveryMethod="Network">
        <network host="mail2003" port="25"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.serviceModel>
    <diagnostics wmiProviderEnabled="false" performanceCounters="All">
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="false" logMessagesAtTransportLevel="true" maxSizeOfMessageToLog="26214444" maxMessagesToLog="429496729"/>
    </diagnostics>
    <behaviors>
      <serviceBehaviors>
        <behavior name="NewBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="/" httpsGetEnabled="false"/>
          <serviceThrottling maxConcurrentCalls="1000" maxConcurrentSessions="1000" maxConcurrentInstances="1000"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="HttpBinding"/>
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NotificationEngineServiceTCP" transactionFlow="true" openTimeout="00:10:00" receiveTimeout="00:30:00" sendTimeout="00:10:00" listenBacklog="100" maxConnections="5000">
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None"/>
            <message clientCredentialType="None" algorithmSuite="Basic128"/>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="NewBehavior" name="EFG.OPS.NotificationEngineService.Service.NotificationEngineService">
        <clear/>
        <endpoint address="net.tcp://localhost:9022/NotificationEngineService/PublishNotification" binding="netTcpBinding" bindingConfiguration="NotificationEngineServiceTCP" name="NotificationEngineServiceTCP" contract="EFG.OPS.NotificationEngineService.Contracts.Interfaces.IPublishNotification"/>
        <endpoint address="net.tcp://localhost:9022/NotificationEngineService/SubscribeNotification" binding="netTcpBinding" bindingConfiguration="NotificationEngineServiceTCP" name="NotificationEngineServiceTCP" contract="EFG.OPS.NotificationEngineService.Contracts.Interfaces.ISubscribeNotification"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9021/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
